NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:replace-with-password@localhost:5432/gnatsupreme?schema=public"
JWT_ACCESS_SECRET="generate-a-random-secret-containing-at-least-64-characters"
JWT_ACCESS_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=30
REFRESH_COOKIE_NAME=gnat_refresh_token
FRONTEND_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET="paste-generated-value-here"
JWT_ACCESS_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=30
REFRESH_COOKIE_NAME=gnat_refresh_token
FRONTEND_ORIGIN=http://localhost:3000



//command to generate JWT_ACCESS_SECRET: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
